<!-- Modal -->
<div class="modal fade" id="order-<%= @order.id%>-info" tabindex="-1" role="dialog" aria-labelledby="order-<%= @order.id %>-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="order-<%= @order.id %>-label">收件人明細</h4>
      </div>
      <div class="modal-body">
        <%= @info %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>