<div class="row">
  <div class="row">
    <div class="col-md-12 panel-warning">
      <div class="content-box-header panel-heading">
        <div class="panel-title ">用戶列表</div>
        <div class="panel-options">
          <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
          <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
        </div>
      </div>
      <div class="content-box-large box-with-header">
        <%= render "user_table" %>
      </div>
    </div>
  </div>
</div>